# as describe by
#https://medium.com/@benmorel/creating-a-linux-service-with-systemd-611b5c8b91d6

[Unit]
Description=Party time blinky lights!
After=network.target
#After=mysqld.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/env /usr/bin/python3 /home/lmiller/cvg2023/blinky.py

[Install]
WantedBy=multi-user.target
